.bg-video {
    display: block;
    height: 40rem;
    overflow: hidden;
    position: relative;
}

.video {
    position: absolute;
    left: 50%;
    top: 50%;
    min-width: 100%;
    min-height: 100%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: 0;
}

.img-box {
    position: sticky;
    display: flex;
    max-height: 800px;
}

.img {
    width: 100%;
    height: auto;
    object-fit: cover;
    margin: 7px;
    z-index: -50;
}

.shopping-btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40%;
    height: 10%;
    background-color: transparent;
    border-width: medium;
}

.shopping-btn:hover {
    background-color: rgba(255, 255, 255, 0.678);
}